<form  action="{{ path('uye_kredi') }}" method="post" >



User
 <select name="id">

   {% for u in user %}
    <option value="{{ u.id }}" >{{ u.username }}</option>
   {% endfor %}

 </select>
 Eklenicek Kredi Miktarı
 <input type="text"  name="kredi_miktari"><br><br>
 <button type="submit" class="btn btn-primary">Kredi Ekle</button>

</form>

<style>
 table, th, td {
  border: 1px solid black;
 }
</style>
<table>
 User Kredi Ekleme
 <tr>
  <th>username</th>
  <th>KrediMiktari</th>


 </tr>
 {% for u in user %}
  <tr>

   <td>{{ u.username }}</td>
   <td>{{ u.kredi }}</td>



  </tr>
 {% endfor %}
</table>
